*{padding:0; margin:0; list-style:none; font:normal 12px/24px "宋体"; color:#666;}
html,body{padding:0; margin:0;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {margin: 0;padding: 0;}
table, td, tr, th {font-size: 12px;}
ol, ul {list-style: outside none none;}
li {list-style-type: none;}
img{border:none; vertical-align:top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: normal;}
a {color: #252525;text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: #ba2636;text-decoration: underline;}
a:active {color: #ba2636;}
.left{float:left;}
.right{float:right;}
/*========clear=============*/
.clearfix {}
.clearfix:after {clear: both;content: ".";display: block;height: 0;overflow: hidden;visibility: hidden;}


.wrap{width:1440px; margin:0 auto; overflow:hidden; background:#eeeeee;}

div.wrap * a:hover{color:#29a99a; text-decoration:underline;}

/*========header=============*/
.topfixed{ background:#E58024; height:31px;left: 0;line-height:31px;margin: 0 auto;position: fixed;top: 0;width: 100%;z-index: 9999;}
.top-nav{ width:1440px; margin:0 auto; color:#ffffff }
.top-nav a{color:#ffffff;
}
.top-nav-col { float:left; padding-left:270px;}
.top-nav-cor { float:right; padding-right:260px; }
.top-nav-col li{ float:left; margin-right:30px; height:31px; line-height:31px;}
.top-nav-col .nav-login{ background-color: #8FC5B8; height:31px; float: left;margin-bottom: -6px;position: relative; text-align: center; width: 88px; z-index: 10;    border-bottom: 4px solid #72A6A4;}
.top-nav-cor li{ float:right;color:#ffffff; height:31px; line-height:31px;}
.top-nav-cor a{ padding:0 34px;}
/*========footer=============*/
.footer{ background:#c9c9c9;clear: both;height:214px;text-align: center;}
.partners{ border-bottom:1px dashed #969696; width:900px; height:100px; margin:0 auto;}
.partners p{padding-top:37px;}
.conns{ height:62px; line-height:62px;}
.copyright{background:#A0A0A0; height:52px; line-height:52px; position: }



