*{padding:0; margin:0; list-style:none; font:normal 12px/24px Arial, Helvetica, sans-serif; }
html,body{padding:0; margin:0;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {margin: 0;padding: 0;}
table, td, tr, th {font-size: 12px;}
ol, ul {list-style: outside none none;}
li {list-style-type: none;}
img{border:none; vertical-align:top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: normal;}
a {color: #393939;text-decoration: none; cursor:pointer;}
a:hover {color: #e58024;text-decoration: none;}
a:active {color: #e58024;}
button{cursor: pointer;}
.left{float:left;}
.right{float:right;}
.pos-r{position:relative}
.pos-a{position:absolute;}
.dis-inlineB{ display:inline-block;}
.text-right{text-align:right;}
.bg-fff{ background:#fff;}
.color-7e{ color:#7e7e7e;}
/*========clear=============*/
/**
 * 清除浮层
**/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.font-orange{
  color: #e58024;
}
.font-black{
  color: #393939;
}
.font-gray{
  color: #7e7e7e;
}
.font-size-large{
  font-size: 14px;
}
.font-size-xlarge{
  font-size: 16px;
}
.font-size-xxlarge{
  font-size: 18px;
}
.font-weight{
  font-weight: bold;
}
.vertical-align-middle{
  vertical-align: middle;
}
.text-center{
  text-align: center;
}
/**
* 外边距
**/
.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}
.margin-top-vl {
  margin-top: 30px;
}
.margin-top-hg {
  margin-top: 50px;
}
.margin-left-md {
  margin-left: 10px;
}
.margin-left-lg {
  margin-left: 20px;
}
.margin-left-vl {
  margin-left: 30px;
}
.margin-right-lg {
  margin-right: 20px;
}
.margin-right-vl {
  margin-right: 30px;
}
.margin-right-xs{
  margin-right: 5px;
}
.margin-bottom-vl{
  margin-bottom: 30px;
}
.margin-bottom-hg{
  margin-bottom: 50px;
}
.margin200-l{ margin-left:200px;}
.margin20-b{ margin-bottom:20px;}
/**
* 内边距
**/
.padding200-lr{ padding:0 200px}
.padding20-tb{ padding:20px 0;}
.wrap{width:1280px; margin:0 auto; overflow:hidden; background:#eeeeee;}
.wrap * a:hover{color: #e58024;}

/*========header=============*/
.topfixed{ background:#E58024; height:31px;left: 0;line-height:31px;margin: 0 auto;position: fixed;top: 0;width: 100%;z-index: 9999;}
.top-nav{ width:1280px; margin:0 auto; color:#ffffff }
.top-nav a{color:#ffffff;
}
.top-nav-col { float:left; padding-left:190px;}
.top-nav-cor { float:right; padding-right:190px;border-left:1px solid #fff; height:18px; line-height:18px;margin-top:7px; }
.top-nav-col li{ float:left; margin-right:30px; height:31px; line-height:31px;}
.top-nav-col li:nth-of-type(3) > a, .top-nav-col li:nth-last-of-type(2) > a{
  height: 18px;
  line-height: 18px;
  display: inline-block;
  border-left: 1px solid;
  padding-left: 15px;
}
.top-nav-col li:first-child > a{
  border-left: 0 none;
}
.top-nav-col li >a.logout{
  color: #B93131;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  letter-spacing: 2px;
}
.top-nav-col li .email{
  display: inline-block;
  background: url("images/email-icon.png");
  width: 23px;
  height: 15px;
  vertical-align: middle;
}
.top-nav-col li .email-count{
  position: absolute;
  color: #fff;
  background-color: #E70012;
  padding: 0 1px;
  top: 0;
  left: 13px;
  height: 15px;
  line-height: 16px;
  font-size: 10px;
}


.top-nav-col .nav-login{ background-color: #8FC5B8;  float: left;margin-bottom: -6px;position: relative; text-align: center; z-index: 10;border-bottom: 4px solid #72A6A4;}
.top-nav-col .nav-login >a{
  height:31px;
  width: 88px;
  display: inline-block;
}
.top-nav-cor li{ float:left;color:#ffffff;}
.top-nav-cor li a{ border-right:1px solid #fff; height:18px;line-height:18px; padding:0 30px; display:block; float:left; }


.dropDown{background:url(../images/about-zpbg.jpg) no-repeat; width:120px; height:244px; border:1px solid #6a6a6a; margin-top:23px;}
.dropDown .ulList a{ border:none; color:#393939; width:120px; padding:11px 0; text-align:center; }
.dropDown .ulList a:hover{color: #e58024;}
.dropDown .ulList a.current{color:#e58024; background:#fff;}
.dropDown .ulList .qrcode{
  position:absolute; right:121px;
}

.login{width:295px; height:244px; background:url(../images/login-bg.jpg) no-repeat; border:1px solid #6a6a6a; position:absolute; z-index:0;}
.login table{padding:30px; text-align:left; font-size:14px;}
.login table td{padding-bottom:15px;}
.login table td input[type="text"]{width:214px; height:20px; line-height:20px; border:none; border:1px solid #959595; padding:10px 8px}
.loginBtn{width:93px; height:41px; border:none; background:#e58024; color:#fff;}
.login table td a{ color:#e58024; padding-right:20px;}
.auto-login{ width:200px; display:block; margin-left:30px;}
/*========navMenu=============*/
.search{height:44px; margin-top:31px; padding-right:190px; }
.search div{height:34px; line-height:34px; width:213px; background:#fff; position:relative; margin-top:4px; float:right;}
.input-search{border:none; padding-left:10px; width:165px;border-right:1px solid #888; height:30px; line-height:30px;}
.searchBtn{background:url(images/sprites-icon.png) no-repeat; background-position:-110px 0; width:17px; height:17px; display:inline-block; margin:8px 10px; position:absolute; right:0; cursor:pointer;}
.logo{ padding-left:190px;}
.logo a{background:url(images/sprites-icon.png) no-repeat; background-position:0 0; width:94px ; height:44px; display:inline-block; margin-top:10px; }
.menNav{height:60px; background:#fff;}
.menNav-ullist{padding-right:190px;}
.menNav-ullist li{ float:left; padding:0 20px; margin-top:18px;position: relative;}
.menNav-ullist li a{ padding:0 10px; color:#7e7e7e;}
.menNav-ullist li a.current{ color:#e58024;}
.menNav-ullist li a:hover{ border-bottom:2px solid #e58024; padding-bottom:5px;}
.menNav-ullist .sub-menu{
  position: absolute;
  z-index: 100;
  left: 0;
  padding-top: 10px;
  display: none;
}
.menNav-ullist .sub-menu>div{
  background: url(../images/dh-centerbg.jpg) repeat-y;
  width: 120px;
  height: 58px;
  border: 1px solid #6a6a6a;
}
.menNav-ullist li div a{ width:120px; text-align:center; height:29px; display:block; padding:0}
.menNav-ullist li div a:hover{ border:none; background:#fff; border-bottom:none; padding:0}
/*========icon=============*/
.white-downArrow,.white-upArrow,.gray-downArrow,.gray-upArrow{vertical-align:top; background:url(images/sprites-icon.png) no-repeat; background-position:-123px -31px; width:8px; height:4px; display:inline-block; margin:7px 0 0 5px; }
.white-downArrow{background-position:-123px -31px;}
.white-upArrow{background-position:-110px -31px;}
.gray-downArrow{background-position:-123px -22px; margin-top:10px;}
.gray-upArrow{background-position:-110px -22px; margin-top:10px;}

.raw{color:#393939;left:50px; text-align:center;}
.raw i{background:url(../images/scorllImg/arrow.png) no-repeat; width:10px; height:9px; display:block;margin-left: 69px;}
.raw div{ color:#393939; font-size:18px; padding:5px 12px;}
.raw div.current,.raw div:hover{background:#e58024;color:#fff; cursor:pointer;}
.raw p{color:#7e7e7e;}

/*========tabs=============*/
.tab{ padding:0 200px; margin-top:30px; overflow:hidden; color:#1c1a18;}
.tab ul.title{ height:147px;}
.zixun,.hot,.zhaopai{background:url(../images/tab/tab-icon.png) no-repeat; width:120px; height:140px; display:block; margin:0 70px; float:left;}
.zixun{ background-position:0 0;}
.hot{background-position:-140px 0;}
.zhaopai{background-position:-280px 0;}
.zixun:hover,.zixun.current{ background-position:0 -160px;}
.hot:hover,.hot.current{background-position:-140px -160px;}
.zhaopai:hover,.zhaopai.current{background-position:-280px -160px;}
.tab-content{background:url(../images/tab/tab-bg.jpg) repeat-x; height:350px; width:880px; border-top:1px solid #7E7E7E; margin-top:-1px;}
.tab-content ul li a{padding:12px 110px; font-size:14px; display:block;}
.tab-content ul li a i,.tab-content ul li a i:hover,.paihang a i,.paihang a:hover i{display:inline-block; margin-right:5px; vertical-align:middle;}
.tab-content ul li a i,.paihang a i{background:url(../images/tab/fk.png) no-repeat; width:4px; height:4px; }
.tab-content ul li a:hover{background:#e58024; padding:12px 100px; color:#fff;}
.paihang a:hover{background:#e58024; color:#fff;}
.tab-content ul li a:hover i,.paihang a:hover i{background:url(../images/tab/fk-select.png) no-repeat; width:5px; height:5px;}
.tab-content ul li a span{font-size:14px;}
.tab-content ul li a:hover span,.paihang a:hover span{color:#fff;}
.tab-arrow01{background:url(../images/tab/01.png) no-repeat; width:66px; height:45px; left:125px;}
.tab-arrow02{background:url(../images/tab/02.png) no-repeat; width:131px; height:45px; left:322px;}
.tab-arrow03{background:url(../images/tab/03.png) no-repeat; width:66px; height:45px; left:580px;}

.paihang{width:343px; background:#FFFFFF;filter:alpha(opacity=50); moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
.paihang li{ padding:9px 0;}
.paihang a{ padding:0 15px; display:block; color:#1c1a18;}
.paihang a span{ padding:0 8px; float:right;}
.banner-smallbox{padding:50px 200px; overflow:hidden;}

.banner{background:url(images/banner-bg.jpg) no-repeat; width:1280px; height:428px;}
.paihang-title{background:url(images/title-01.jpg) no-repeat; width:343px; height:64px;}
.app-smallbox h3{background:url(images/banner-title.png) no-repeat; width:489px; height:86px; cursor:pointer;}
.app-smallbox .ios a{background:url(images/ios_03.png) no-repeat; width:268px; height:94px; display:block; margin:20px 0;}
.app-smallbox .ios a:hover{ border:5px solid #fff;background:#fff url(images/ios_03.png) no-repeat;}
.app-smallbox .android a{background:url(images/android_03.png) no-repeat; width:268px; height:94px; display:block;}
.app-smallbox .android a:hover{ border:5px solid #fff;background:#fff url(images/android_03.png) no-repeat; }
/*========�����Ƽ��� ���=============*/
.bigbox{ padding:67px 200px 50px 200px; overflow:hidden;}
.bigbox > h3 > .more,.consult > h3 > .more{
  display: inline-block;
  background: url("images/more.png");
  width: 27px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.renwu h3,.tuijian h3,.ruanjian h3{width:96px; height:23px; display:block; border-bottom: 3px solid #e58024;  padding:0 150px 12px 150px; margin:0 auto;}
.renwu ul li{ float:left; padding:22px 11px;width:270px; text-align:left;}
.mapbox{width:67px; float:left; border-right:2px solid #e58024; margin:10px 5px}
.map-icon{background:url(images/sprites-icon.png) no-repeat; background-position:-142px 0; width:18px; height:29px; display:inline-block; vertical-align:middle; float:left; margin:5px 5px 0 0}
.map-title{width:190px; float:left; margin:10px 0;}
.money-iocn,.flower-iocn{background:url(images/sprites-icon.png) no-repeat; width:14px; height:17px; display:inline-block; vertical-align:middle; margin:0 2px;}
.money-iocn{background-position:-167px 0; }
.flower-iocn{background-position:-187px 0; height:18px; width:17px; }
p.digit{font-size:20px; color:#e58024;}
p.dotLocation,.renwu a.map-content:hover{color:#e58024;}
.renwu a.map-content{font-size:14px; color:#7e7e7e}
.tuijian{ background:#fff; overflow:hidden;}
.tuijian ul li{float:left; padding:22px 8px; text-align:center;}
.ruanjian ul li{float:left; padding:22px 20px; text-align:center;}
.tuijian ul li a{ font-size:14px;}
.tuijian .label{
  font-size:18px; padding-top:10px; display:block;
}

/*========footer=============*/
.footer{ background:#c9c9c9;clear: both;height:214px;text-align: center;}
.partners{ border-bottom:1px dashed #969696; width:900px; height:100px; margin:0 auto; color:#393939;}
.partners a,.conns a{ padding:0 10px;}
.partners p{padding:35px 0 10px 0;}
.conns{ height:62px; line-height:62px;}
.copyright{background:#A0A0A0; height:52px; line-height:52px;}

.img-container{
  border-radius: 50%;
  padding: 6px;
  width:94px;
  height:94px;
  background-color: #fff;
}
.img-responsive{
  border-radius: 50%;
}

.register-form .radio-label{
  font-size:16px; margin-right:20px
}
.register-form .select{
  width:135px; margin-right:5px;
}
.register-form .checkcode-input{
  width: 200px;
}
.register-form .reload-checkcode{
  display: inline-block;
  background: url("images/reload-checkcode.png");
  width: 37px;
  height: 37px;
  vertical-align: middle;
}

