<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>flexslider</title>
  <meta name="keywords" content=""/>
  <link type="text/css" rel="stylesheet" href="../scripts/components/flexslider/css/flexslider.css"/>
  <link type="text/css" rel="stylesheet" href="../styles/flexslider.css"/>
  <style>
    body{
      margin:50px;
      width: 80%;
    }
  </style>
</head>
<body>
<body>

<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
    </li>
    <li>
      <img src="images/kitchen_adventurer_lemon.jpg" />
    </li>
    <li>
      <img src="images/kitchen_adventurer_donut.jpg" />
    </li>
    <li>
      <img src="images/kitchen_adventurer_caramel.jpg" />
    </li>
  </ul>
</div>

<script src="../scripts/components/jquery/jquery.js"></script>
<script src="../scripts/components/flexslider/js/jquery.flexslider.js"></script>

<script>
  $(function () {
    $('.flexslider').flexslider({
      animation: "slide",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>

</body>
</html>
