<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content=""/>
  <title>顶部底部通用模板</title>
  <link type="text/css" rel="stylesheet" href="../styles/header-footer.css"/>
</head>
<body>
<!--top-->
<div class="topfixed">
  <div class="top-nav clearfix">
    <ul class="top-nav-col">
      <li>
        <a href="#">欢迎来到找拍</a>

      </li>
      <li class="nav-login"><a href="#">登录</a></li>
    </ul>
    <ul class="top-nav-cor">
      <li>
        |
        <a href="#">客服咨询</a>
        |
        <a href="#">关于找拍</a>
        |
        <a href="#">每日签到</a>
        |
        <a href="#">手机找拍</a>
        |
      </li>

    </ul>

  </div>
</div>
<!--top-->

<div class="wrap" style="height:100px;">
  <!--header start-->
  <div>
  </div>
  <!--header end-->
  <!--main start-->
  <div class="main">
    <!--rolling img start-->
    <div></div>
    <!--rolling img end-->
    <!--tabs start-->
    <div></div>
    <!--tabs end-->
    <!--Down App start-->
    <div></div>
    <!--Down end-->
    <!--任务专区 start-->
    <div></div>
    <!--任务专区 end-->
    <!--礼品推荐 start-->
    <div></div>
    <!--礼品推荐 end-->
    <!--软件推荐 start-->
    <div></div>
    <!--软件推荐 end-->
  </div>
  <!--main end-->
</div>


<!--footer start-->
<div class="footer-assist"></div>
<div class="footer">
  <div class="partners">
    <p>友情链接</p>
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
    |
    <a href="#" target="_blank">合作伙伴</a>
  </div>
  <div class="conns">
    <a href="#">商务洽谈</a>
    |
    <a href="#">免责条款</a>
    |
    <a href="#">关于我们</a>
  </div>
  <div class="copyright">版权所有&copy;12014 XXXXX科技有限公司.京ICP 备080XXXX号 京公网安备110108XXXXX</div>
</div>
<!--footer end-->
</body>
</html>
